:root {
  /* 自定义主题变量，明明规范 v开头，类别首字母开头，定义变量时类似 vGTextColor */

  /* 全局 global */
  --v-g-text-color: #515a6e;
  --v-g-primary-color: var(--bin-color-primary);
  --v-g-bg-color: #fff;
  --v-g-border-color: #e5e6eb;
  --v-g-hover-bg-color-1: #f2f3f5;

  /* layout */
  /* 头部 header */
  --v-header-height: 60px;
  --v-header-bg: var(--v-g-bg-color);
  --v-header-border-color: var(--v-g-border-color);
  --v-header-trigger-size: 28px;
  --v-header-trigger-radius: 50%;
  --v-header-trigger-border-color: var(--v-g-border-color);
  /* 侧边栏 sider */
  --v-sider-width: 220px;
  --v-sider-collapse-width: 48px;
  --v-sider-bg: var(--v-g-bg-color);
  --v-sider-border-color: var(--v-g-border-color);
  --v-sider-collapse-btn-color: #86909c;
  --v-sider-collapse-btn-bg: #f7f8fa;
  --v-sider-collapse-btn-bg-hover: #e5e6eb;
  /* 侧边栏 menu */
  --v-menu-bg-color: #fff;
  --v-menu-text-color: var(--v-g-text-color);
  --v-menu-text-hover-color: var(--v-menu-text-color);
  --v-menu-bg-hover-color: var(--bin-color-primary-light6);
  --v-menu-text-active-color: var(--bin-color-primary);
  --v-menu-bg-active-color: var(--bin-color-primary-light6);

  /* 内容区域 content */
  --v-content-bg: #f2f3f5;
}
