.bin-menu {
  --b-menu-item-height: var(--v-menu-item-height);
  --b-menu-item-border-radius: var(--v-menu-item-border-radius);
  --b-menu-text-color: var(--v-menu-text-color);
  --b-menu-text-hover-color: var(--v-menu-text-hover-color);
  --b-menu-text-active-color: var(--v-menu-text-active-color);
  --b-menu-bg-color: var(--v-menu-bg-color);
  --b-menu-bg-hover-color: var(--v-menu-bg-hover-color);
  --b-menu-bg-active-color: var(--v-menu-bg-active-color);

  .bin-menu-item:last-child:not(:first-child) {
    margin-bottom: 4px;
  }
  .bin-submenu__title:last-child {
    margin-bottom: 4px;
  }
}
