.bin-menu {
  .bin-menu-item,
  .bin-submenu__title {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    margin-bottom: 4px;
    border-radius: var(--bin-border-base-radius);
    color: var(--v-menu-text-color);
    &.is-active,
    &:hover {
      color: var(--v-menu-text-hover-color);
      background: var(--v-menu-bg-hover-color);
    }
    &.is-active {
      color: var(--v-menu-text-active-color);
      background: var(--v-menu-bg-active-color);
    }
  }
  .bin-submenu {
    &.is-active {
      .bin-submenu__title {
        color: var(--v-menu-text-active-color);
      }
    }
  }
  .bin-menu-item.is-tooltip > div {
    padding-left: 12px !important;
  }
  &.bin-menu--collapse {
    width: 48px;
    .bin-submenu__title {
      justify-content: center;
      padding: 0 !important;
    }
  }
}
