/* ui 组件库相关的样式主题变量 */

:root {
  --colors: (primary: #165dff, success: #52c41a, warning: #fa8c16, danger: #f5222d);

  @each $val, $color in var(--colors) {
    --bin-color-$(val): $(color);
    --bin-color-$(val)-light1: mix(#fff, $(color), 0.2);
    --bin-color-$(val)-light2: mix(#fff, $(color), 0.4);
    --bin-color-$(val)-light3: mix(#fff, $(color), 0.6);
    --bin-color-$(val)-light4: mix(#fff, $(color), 0.8);
    --bin-color-$(val)-light5: mix(#fff, $(color), 0.9);
    --bin-color-$(val)-light6: mix(#fff, $(color), 0.95);
    --bin-color-$(val)-active: mix(#000, $(color), 0.1);
  }

  /* 以下不需要进行变量覆盖，根据实际情况调节即可 */
  /* 背景色 */
  --bin-bg-color-1: var(--v-g-bg-color-1);
  --bin-bg-color-2: var(--v-g-bg-color-2);
  --bin-bg-color-3: var(--v-g-bg-color-3);
  --bin-bg-color-4: var(--v-g-bg-color-4);

  /* 文字色 */
  --bin-text-color-1: var(--v-g-text-color-1);
  --bin-text-color-2: var(--v-g-text-color-2);
  --bin-text-color-3: var(--v-g-text-color-3);
  --bin-text-color-4: var(--v-g-text-color-4);

  /* 填充色 */
  --bin-fill-color-1: var(--v-g-fill-color-1);
  --bin-fill-color-2: var(--v-g-fill-color-2);
  --bin-fill-color-3: var(--v-g-fill-color-3);
  --bin-fill-color-4: var(--v-g-fill-color-4);
}
