html, body {
  --bin-border-base-radius: 3px;
  
  /* success-color */
  --bin-color-success: #00c181;
  --bin-color-success-light1: #33dea5;
  --bin-color-success-light2: #66e6bc;
  --bin-color-success-light3: #99efd2;
  --bin-color-success-light4: #ccf7e9;
  --bin-color-success-light5: #e6fbf4;
  --bin-color-success-light6: #f2fdf9;
  --bin-color-success-active: #008056;
  /* info-color */
  --bin-color-info: #0086e6;
  --bin-color-info-light1: #33aaff;
  --bin-color-info-light2: #66bfff;
  --bin-color-info-light3: #99d5ff;
  --bin-color-info-light4: #cceaff;
  --bin-color-info-light5: #e6f4ff;
  --bin-color-info-light6: #f2faff;
  --bin-color-info-active: #005999;
  /* warning-color */
  --bin-color-warning: #ffaa00;
  --bin-color-warning-light1: #ffbb33;
  --bin-color-warning-light2: #ffcc66;
  --bin-color-warning-light3: #ffdd99;
  --bin-color-warning-light4: #ffeecc;
  --bin-color-warning-light5: #fff7e6;
  --bin-color-warning-light6: #fffbf2;
  --bin-color-warning-active: #e69900;
  /* danger-color */
  --bin-color-danger: #ff3d71;
  --bin-color-danger-light1: #ff648d;
  --bin-color-danger-light2: #ff8baa;
  --bin-color-danger-light3: #ffb1c6;
  --bin-color-danger-light4: #ffd8e3;
  --bin-color-danger-light5: #ffecf1;
  --bin-color-danger-light6: #fff5f8;
  --bin-color-danger-active: #e63766;

  --bin-animation-duration-slow: 0.35s;
  --bin-animation-duration-base: 0.25s;

  --bin-shadow-popper: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

  --bin-tag-font-size: 14px;
  --bin-tag-height: 28px;

  
  --bin-scrollbar-width: 5px;
  --bin-scrollbar-radius: 5px;
}