// button 样式覆盖
[data-theme] {
  .bin-button {
    &--default {
      &:focus, &:hover {
        color: getColor();
        border-color: getColor();
      }
      // 默认禁用
      &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
        color: #c0c4cc;
        border-color: #ebeef5;
      }
    }
    &--primary {
      background-color: getColor();
      border-color: getColor();
      &:hover, &:focus {
        background: getHover();
        border-color: getHover();
        color: #fff;
      }
      &:active {
        background: getActive();
        border-color: getActive();
      }
      &.is-plain {
        color: getColor();
        background-color: getLighten5();
        border-color: getLighten3();
        &:hover, &:focus {
          border-color: getHover();
        }
        &:active {
          color: getActive();
          border-color: getActive();
        }
        &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
          cursor: not-allowed;
          color: getLighten3();
          background-color: getLightenHover();
          border-color: getLighten5();
        }
      }
      &.is-transparent {
        border-color: getColor();
        color: getColor();
        background-color: transparent;
        &:hover, &:focus {
          border-color: getHover();
        }
        &:active {
          color: getActive();
          border-color: getActive();
        }
        &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
          background-color: transparent;
          color: getLighten3();
          border-color: getLighten3();
        }
      }
      &.is-dashed {
        background: #ffffff;
        color: getColor();
        &:hover, &:focus {
          border-color: getHover();
        }
        &:active {
          color: getActive();
          border-color: getActive();
        }
        &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
          background-color: #ffffff;
          color: getLighten3();
          border-color: getLighten5();
        }
      }
      // 默认禁用
      &.is-disabled, &.is-disabled:focus, &.is-disabled:hover, &.is-loading {
        color: #ffffff;
        border-color: getLighten3();
        background-color: getLighten3();
      }
    }
    &--text {
      border-color: transparent;
      color: getColor()
      background: transparent;
      background-image: none;
      &:focus, &:hover {
        color: getHover();
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
      }
      &:active {
        color: getActive();
      }
      &.is-disabled, &.is-disabled:focus, &.is-disabled:hover {
        cursor: not-allowed;
        background-color: transparent;
        border-color: transparent;
        opacity: .5;
      }
    }
  }
}
