[data-theme] {
  // 1、menu菜单样式覆盖需要根据theme主题设置，参考theme/light、dark中编写

  // 2、anchor锚点
  .bin-anchor {
    .bin-anchor-ink-ball {
      border-color: getColor();
    }
    .bin-anchor-link a:hover {
      color: getColor();
    }
    .bin-anchor-link-active > .bin-anchor-link-title, .b-iconfont {
      color: getColor();
    }
    .bin-anchor-link .b-iconfont {
      color: getColor();
    }
  }

  // 3、tabs标签页
  .bin-tabs-wrapper .nav-wrapper .tab-item.active,
  .bin-tabs-wrapper .nav-wrapper .tab-item.active > i:not(.b-icon-close),
  .bin-tabs-wrapper .nav-wrapper .tab-item:hover,
  .bin-tabs-wrapper .nav-wrapper .tab-item:hover > i:not(.b-icon-close) {
    color: getColor();
  }
  .bin-tabs-wrapper .nav-wrapper .tabs-active-bar,
  .bin-tabs-wrapper.tag .tab-item.active::before {
    background-color: getColor();
  }
  // 4、dropdown
  .bin-dropdown-menu .bin-dropdown-item-selected {
    background: getLightenHover()
  }
  // 5、Steps步骤条
  .bin-steps-item.bin-steps-status-process .bin-steps-head-inner {
    border-color: getColor();
    background-color: getColor();
  }
  .bin-steps-item.bin-steps-status-finish .bin-steps-head-inner span,
  .bin-steps-item.bin-steps-status-finish .bin-steps-head-inner > .bin-steps-icon {
    color: getColor();
  }
  .bin-steps-item.bin-steps-status-finish .bin-steps-head-inner {
    background-color: #fff;
    border-color: getColor();
  }
  .bin-steps-item.bin-steps-status-finish .bin-steps-tail > i:after {
    background: getColor();
  }
}
