[data-theme] {
  // 卡片
  .bin-card .bin-card__header.has-tip::after {
    background-color: getColor();
  }
  // 折叠面板
  .bin-collapse-wrap .header .label:after {
    background-color: getColor();
  }
  // 徽标
  .bin-badge-is-primary {
    background-color: getColor();
  }
  // tag
  .bin-tag.is-primary.is-dark {
    background-color: getColor();
  }
  .bin-tag.is-primary {
    background-color: getLighten5()
    color: getColor();
    border-color: getLighten3()
  }
  // loading
  .bin-loading, .bin-loading-bar .icon.icon-color-primary i {
    color: getColor();
  }
  .bin-loading-inner .circular .path {
    stroke: getColor();
  }
  // alert
  .bin-alert-info {
    border-color: getLighten3();
    background-color: getLightenHover();
  }
  .bin-alert-info .bin-alert-icon {
    color: getColor();
  }
  // 日历
  .bin-calendar .bin-calendar-date-view.is-selected, .bin-calendar .bin-calendar-date-view:hover {
    background-color: getLightenHover();
  }
  .bin-calendar .bin-calendar-date-view.is-current-day, .bin-calendar .bin-calendar-date-view.is-selected {
    color: getColor();
  }

  // 进度条
  .bin-progress.bin-progress-text-inside .bin-progress-bar {
    padding-right: 0;
    margin-right: 0;
  }
}
