.bin-tag {
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
  cursor: default;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 7px;
  height: 28px;
  border-radius: 2px;
  font-size: 14px;
}