
.jtk-overlay {
  cursor: pointer;
  color: #4A4A4A;
}
/* 连线中的label 样式*/
.jtk-overlay.flowLabel:not(.aLabel) {
  padding: 4px 10px;
  background-color: white;
  color: #565758 !important;
  border: 1px solid #E0E3E7;
  border-radius: 5px;
}

.ef-dot {
  background-color: #1879FF;
  border-radius: 10px;
}

.ef-dot-hover {
  background-color: red;
}

.ef-rectangle {
  background-color: #1879FF;
}

.ef-rectangle-hover {
  background-color: red;
}

.ef-img {
}

.ef-img-hover {
}


.ef-drop-hover{
  border: 1px dashed #1879FF;
}