.edit-tree-container {
  --border-color: #f2f4f7;
  --border-radius: 8px;
  --node-height: 32px;
  --node-height-minus: 32px;
  overflow: hidden;
  .edit-tree-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 38px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 1px solid var(--border-color);
  }
  .edit-tree-content {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 12px;
    overflow-x: auto;
    max-height: 372px;
  }

  .bin-tree {
    min-width: 800px;
  }
  .bin-tree-node {
    height: var(--node-height);
    align-items: center;
    .bin-tree-render-title {
      line-height: 1.5715;
      height: var(--node-height);
      padding: 0;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--border-color);
      margin-top: var(--node-height);
    }
  }

  .custom-render-node {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: default;
    .ctrl {
      i {
        margin-left: 8px;
      }
    }
    .bin-form-item {
      margin: 0px;

      &.is-error .bin-input {
        border-color: var(--bin-color-danger);
        box-shadow: none;
      }
      .bin-form-item__error {
        position: absolute;
        display: flex;
        top: 11px;
        left: unset;
        right: 24px;
        padding-top: 0px;
        width: auto;
        pointer-events: none;
      }
    }
    .bin-input-wrapper {
      vertical-align: unset;
    }
    .bin-input {
      border: none;
      border-bottom: 1px solid transparent;
      box-shadow: none;
      background-color: transparent;
      border-radius: 0;
      padding: 0 4px;
      &:focus {
        border-color: var(--bin-color-primary);
      }
    }
    .bin-input-number {
      border-color: transparent;
      box-shadow: none;
      .bin-input-number-handler {
        border: none;
      }
      &.bin-input-number-focused {
        border-color: var(--bin-color-primary);
      }
      &.bin-input-number-always {
        .bin-input-number-handler-minus,
        .bin-input-number-handler-plus {
          border: none;
          background-color: transparent;
        }
      }
    }
    .label {
      height: 100%;
      padding: 0 8px;
      line-height: var(--node-height);
    }
  }
}
