.layout-content {
  min-height: 100vh;
  overflow-y: hidden;
  background-color: var(--color-fill-2);
  transition: padding 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  overflow-x: hidden;
  padding-left: var(--v-s-width);
  padding-top: var(--v-h-height);
  .layout-content-inner {
    flex: 1;
  }
}
