@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/minimap/dist/style.css';

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.basicflow.dark {
  background: #000000;
  color: #fffffb;
}
.basicflow.dark .vue-flow__node {
  background: hsl(0, 0%, 10%);
  color: #fffffb;
}
.basicflow.dark .vue-flow__node.selected {
  background: hsl(0, 0%, 20%);
  border: 1px solid hotpink;
}
.basicflow .vue-flow__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.basicflow.dark .vue-flow__controls {
  border: 1px solid #fffffb;
}
.basicflow .vue-flow__controls .vue-flow__controls-button {
  border: none;
  border-right: 1px solid #eee;
}
.basicflow.dark .vue-flow__controls .vue-flow__controls-button {
  background: hsl(0, 0%, 20%);
  fill: #fffffb;
  border: none;
}
.basicflow.dark .vue-flow__controls .vue-flow__controls-button:hover {
  background: hsl(0, 0%, 30%);
}
.basicflow.dark .vue-flow__edge-textbg {
  fill: #292524;
}
.basicflow.dark .vue-flow__edge-text {
  fill: #fffffb;
}
