html {
  --primary-color: #1089ff;
  --primary-hover-color: #249dff;
  //--success-color: #7cb305;
  //--info-color: #666;
  //--warning-color: #faad14;
  //--danger-color: #eb2f96;
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
  color: #515a6e;
}
a, a:focus, a:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
}
#app {
  min-height: 100%;
}
