$color-text-base = #515a6e;
$color-text-primary = #17233d;
$color-text-light = rgba(0, 0, 0, .45);
$color-text-default = rgba(0, 0, 0, .65);
$color-text-dark = rgba(0, 0, 0, .85);
$color-text-white-disable = rgba(255, 255, 255, .45);
$color-text-white-light = rgba(255, 255, 255, .75);
$color-text-white = #ffffff;

$color-border-base = 1px solid #eeeeee;
