/* 改变 icon 字体路径变量，必需 */
$font-path = '~bin-ui-next/src/styles/fonts/';
/* 改变主题色变量 */
$color-primary = #722ed1;
$color-success = #7cb305;
$color-warning = #faad14;
$color-danger = #eb2f96;

$border-base-radius = 4px;
@import '~bin-ui-next/src/styles/index.styl';
//@import '~bin-ui-next/src/styles/common/variables.styl';
//@import '~bin-ui-next/src/styles/base.styl'
//@import '~bin-ui-next/src/styles/icon.styl'
//@import '~bin-ui-next/src/styles/components/button.styl'
//@import '~bin-ui-next/src/styles/components/input.styl'
